html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('Images/bg1.jpg');
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
    color: black;
    backdrop-filter: blur(0.5px);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    background-color: rgba(244, 206, 20, 0.5);
}

#logo {
    max-width: 200px;
}

nav {
    flex: 1;
    color: black;
}


nav ul {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
}

nav li {
    display: inline-block;
    margin: 0 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav1Bar {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 25px;
    padding-right: 2px;
}

.promotion {
    display: grid;
    gap: 20px;
    margin-top: 50px;

}

.food {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    margin-top: 50px;

}

article {
    flex: 1;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

footer {
    display: flex;
}

#foot-logo {
    width: 10%;
}

@media only screen and (max-width:150px) {
    header>img {
        width: 100%;
        max-width: none;
        margin-left: 5%;
    }
}